*{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #333333;
}
.top {
    padding: 0 5px;
    margin: 0;
    align-self: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #555555;
    border: 1px solid white;
    border-bottom: 0;
}
.nav {
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #555555;
    border: 1px solid white;
    padding: 5px 0;
}
.nav ul{
    
    height:100%;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    font-size: 0;
    text-align: center;
}
li.navComp {
    vertical-align: middle;
    height:100%;
    font-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    width: 25%;
}
h2{
    font-size: 1.3em;
    margin: 0;
    padding: 5px 0;
}
.main{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    font-size: 0;
    border-top: 1px solid white;
    border-right: 1px solid white;
}
.width-1{width: 100%}
.width-2{width: 100%}
.width-3{width: 100%}
.width-4{width: 100%}
/*specifically not phone stuff*/
@media only screen and (min-width: 500px){
    .width-1{width: 25%}
    .width-2{width: 50%}
    .width-3{width: 75%}
    .width-4{width: 100%}
    .main{
        margin: 0 2.5%;
        width: 95%;
    }
    .top{
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 95%;
    }
    .nav{
        margin-left: 2.5%;
        margin-right: 2.5%;
        width: 95%;
    }
}
[class*="width-"] {
    box-sizing: border-box; 
    display: inline-block;
    background-color: #777777;
    font-size: 1rem;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}
/*Triggers for tablet sized screens only*/
@media only screen and (min-width: 500px) and (max-width: 800px){


}
/*Triggers for laptops and above*/
@media only screen and (min-width: 800px){

}

body{
    margin:0px;
}